# Frontend DEX settings
VITE_NETWORK=mainnet
VITE_TON_RPC_ENDPOINT=https://toncenter.com/api/v2/jsonRPC
VITE_TON_ASSET_ADDRESS=EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c
VITE_DEFAULT_SWAP_TOKEN_ADDRESS=EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs
VITE_DEFAULT_SLIPPAGE=0.01
VITE_ASSET_QUERY_LIMIT=80
VITE_TONCONNECT_MANIFEST_URL=https://novaelectioviri.github.io/NEVDEX/tonconnect-manifest.json
